@mixin flex($dir) {
    display: flex;
    flex-direction: $dir;
    justify-content: space-between;
}

.Notification {
    @include flex(column);
    background-color: #38a169;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    animation: forwards 1s ease-in openAnim;
    .col {
        @include flex(row);
        margin-bottom: 0.5rem;
        .close:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .bar {
        width: 100%;
        height: 10px;
        background-color: aliceblue;
        border-radius: 12px;
        overflow: hidden;
        .child {
            height: inherit;
            background-color: #776f05;
            width: 0;
        }
    }
    &.close {
        animation: forwards 1s ease-in closeAnim;
    }
}

@keyframes openAnim {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes closeAnim {
    100% {
        transform: translateX(500%);
    }
}