@import "../../../global/virables.scss";
.account-dropdown {
  position: relative;
  z-index: 99;

  .account-dropdown-title {
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    @include flex(row, center, center);
  }

  .account-dropdown-menu {
    position: absolute;
    top: 130%;
    right: -1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
    height: 60vh;
    width: 400px;
    display: none;
    font-weight: bold;
    border-radius: 1rem;
    .account-dropdown-menu-layer {
      position: absolute;
      top: -10%;
      left: 0;
      z-index: -1;
      height: 70vh;
      width: 400px;
    }
    &::before {
      content: "";
      clip-path: polygon(48% 54%, 0% 100%, 100% 100%);
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: white;
      top: -7%;
      right: 0.7rem;
    }
    .top {
      font-weight: 400;
      font-size: small;
      color: black;
      @include flex(column, center, center);

      .btn {
        background-color: orange;
        width: 200px;
        height: 30px;
        @include flex(row, center, center);
        border-radius: 1rem;
        font-size: 15px;
        color: rgb(27, 154, 212);
      }
      .startLink {
        margin-left: 0.2rem;
        color: rgb(27, 154, 212);
        &:hover {
          color: orange;
          text-decoration: underline;
        }
      }
    }
    hr {
      margin: 1.5rem 0;
      opacity: 0.5;
    }
    .bottom {
      @include flex(row-reverse, space-between);

      ul.left {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          padding: 8px 12px;
          color: rgba(0, 0, 0, 0.418);
          cursor: pointer;
          &:nth-child(1) {
            color: black;
          }
          &:hover {
            color: orange;
            text-decoration: underline;
          }
        }
      }
      .center {
        height: 40vh;
        width: 2px;
        background-color: darkgray;
        opacity: 0.7;
      }
      .right {
        * {
          margin: 1rem 0;
        }
        h3 {
          color: black;
        }
        p {
          color: rgba(0, 0, 0, 0.418);
        }
      }
    }
  }

  &:hover {
    .account-dropdown-menu {
      display: block;
    }
  }
  @media (max-width: $small-screen) {
    .account-dropdown-menu {
      left: 0;
      height: 50vh;
      width: 350px;
      overflow: hidden;
      &::before {
        display: none;
      }
    }
  }
}
