.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin: 10px;
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    max-height: 350px;
    background-color: white;
    &.anim1 {
        animation: 1s ease-in-out productAni1;
    }
    &.anim2 {
        animation: 1s ease-in-out productAnim2;
    }
    &.anim3 {
        animation: 1s ease-in-out productAnim3;
    }
    .linke {
        text-decoration: none;
    }
    .product__info {
        margin-bottom: 15px;
        &__price {
            margin-top: 5px;
        }
        &__rating {
            margin: 5px;
            display: flex;
            justify-content: space-between;
        }
        &__image {
            width: 100%;
            max-height: 200px;
            object-fit: contain;
            margin-bottom: 15px;
        }
    }
    button {
        background-color: #f0c14b;
        border: 1px solid;
        margin-top: 10px;
        border-color: #a88734 #9c7e31 #846a29;
        color: #111;
        cursor: pointer;
    }
}

@keyframes productAnim1 {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        opacity: 0.2;
        transform: scale(0.2);
    }
    40% {
        opacity: 0.4;
        transform: scale(0.4);
    }
    60% {
        opacity: 0.6;
        transform: scale(0.6);
    }
    80% {
        opacity: 0.8;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes productAnim2 {
    0% {
        transform: translateY(-100px);
    }
    20% {
        transform: translateY(-80px);
    }
    40% {
        transform: translateY(-60px);
    }
    60% {
        transform: translateY(-40px);
    }
    80% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes productAnim3 {
    0% {
        transform: translateX(-100px);
    }
    20% {
        transform: translateX(-80px);
    }
    40% {
        transform: translateX(-60px);
    }
    60% {
        transform: translateX(-40px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}