@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    gap: 0.3rem;
}

@mixin border_haver {
    border: 2px solid transparent;
    padding: 0.2rem;
    &:hover {
        cursor: pointer;
        border-color: white;
    }
}

$main_header_bgcolor: #131921;
$main_color: white;
.header {
    width: 100%;
    overflow-x: hidden;
    height: 3rem;
    padding: 0.7rem;
    @include flex(row);
    background-color: $main_header_bgcolor;
    color: $main_color;
    .logo {
        width: 100px;
        font-size: 20px;
        @include border_haver();
    }
    &__search {
        @include flex("row");
        position: relative;
        width: 100%;
        max-width: 1400px;
        min-width: 100px;
        height: 2.5rem;
        border-radius: 0.4rem;
        overflow: hidden;
        &__Input {
            width: 100%;
            height: 100%;
        }
        &__Icon {
            position: absolute;
            background-color: rgba(238, 181, 75, 0.883);
            right: 0;
            color: black;
            padding: 0.5rem 0.7rem;
            &:hover {
                background-color: rgb(221, 151, 22);
                cursor: pointer;
            }
        }
    }
    &__nav {
        @include flex(row);
        gap: 1rem;
        &__item {
            @include border_haver();
            width: 90px;
            @include flex(column);
            >* {
                &:nth-child(1) {
                    font-size: 0.7rem;
                    opacity: 0.8;
                }
            }
            &:last-child {
                flex-direction: column-reverse;
                span {
                    font-size: 1rem;
                    margin-bottom: -0.5rem;
                }
                .__icon {
                    font-size: 2.3rem;
                }
            }
        }
    }
}

.not_allow {
    &:hover {
        cursor: not-allowed;
    }
}

@media (max-width: "700px") {
    .header {
        position: relative;
        justify-content: space-between;
        height: 8rem;
        align-items: flex-start;
        .logo {
            margin-top: 0.6rem;
            padding: 0.4rem 0;
        }
        &__search {
            position: absolute;
            bottom: 1rem;
            left: 3%;
            width: 90%;
        }
        &__nav {
            gap: 0.1rem;
            width: 100%;
            font-size: 1.3rem !important;
            justify-content: space-between;
            &__item {
                &.lg {
                    display: none;
                }
            }
        }
    }
}