$bgcolor: #ffffff;
$acountBgColor: #232f3e;
$mainColor: #232f3e;
.side-header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  color: $mainColor;
  transition: transform ease-in-out 1s;
  transform: translateX(-100%);
  background-color: none;
  display: flex;

  .close {
    background-color: $mainColor;
    z-index: 999;
    font-size: 3rem;
    cursor: pointer;
    color: #ffffff;
    transition: all ease-in-out 0.5s;
    &:hover {
      color: red;
      transform: rotate(-45deg);
    }
  }
  .nav {
    width: 300px;
    height: 100%;
    background-color: $bgcolor;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
    .item span:nth-child(2) {
      cursor: pointer;
    }

    .account,
    .lang {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .account {
      background-color: $acountBgColor;
      color: white;
      padding: 1rem;
      font-size: 1.5rem;
      .heade_login > .item {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
      }
    }
    .list {
      margin: 0.5rem 0;
      list-style-type: none;
      line-height: 1.5rem;
      .title {
        padding: 0.5rem 1rem;
      }
      li {
        cursor: pointer;
        padding: 0 1rem;
        font-size: 1.5;
        font-weight: 700;
        &:hover {
          background-color: #232f3e38;
        }
      }
    }
  }
  &.active {
    transform: translateX(0);
    transition: background-color ease-in-out 0.3s;
    background-color: #000000a6;
  }
}
