@import "../../global/virables.scss";
$TotopbgColor: #37475a;
$bgColor: #232f3e;
$CopyBGColor: #131a22;
$main-color: rgba(238, 234, 234, 0.616);
$Title-color: #fff;

.footer {
  @include flex(column, space-between);
  * {
    width: 100%;
    font-weight: 500;
    color: $main-color;
  }
  > * {
    padding: 1rem;
  }
  .title {
    color: $Title-color;
  }
  a.Back-to-top {
    font-size: 14px;
    line-height: 20px;
    background-color: $TotopbgColor;
    padding: 20px;
    text-align: center;
    .BackToTop .BackToTopText {
      color: $Title-color;
    }
    &:hover {
      background-color: #55677c;
    }
  }
  &__Nav {
    background-color: $bgColor;
    @include flex(row, space-between);
    flex-wrap: wrap;
    align-items: flex-start;
    .col {
      margin: 1rem;
      width: fit-content;
      ul {
        list-style-type: none;
        li {
          margin-top: 0.5rem;
          width: fit-content;
          cursor: pointer;
          border-bottom: transparent 1px solid;
          &:hover {
            border-color: $main-color;
          }
        }
      }
    }
  }
  .copy {
    background-color: $CopyBGColor;
    text-align: center;
  }
}

@media (max-width: $small-screen) {
  .footer {
    > div {
      padding: 0.5rem;
    }
  }
}
