$fav_color: rgb(6, 180, 180);
@mixin flex ($dir) {
    display: flex;
    flex-direction: $dir;
    justify-content: space-between;
}

.prod {
    @include flex(row);
    width: 100vw;
    max-height: fit-content;
    padding: 2rem 0 4rem 0;
    background-color: white;
    &__image {
        width: 300px;
        max-height: 400px;
        border: 20px solid white;
    }
    &__info {
        padding: 2rem;
        max-width: 400px;
        &__cat {
            color: $fav_color;
        }
        &__title {
            font-size: 1.5rem;
            width: 220px;
            margin-bottom: 1rem;
        }
        &__rating {
            @include flex(row);
            .rateCount {
                color: $fav_color;
            }
        }
        &__delivery {
            .price {
                margin: 1rem 0;
                @include flex( column);
                font-size: 1.7rem;
            }
            .details {
                @include flex(row);
                margin-bottom: 1rem;
                text-align: center;
                .col {
                    img {
                        opacity: .7;
                        width: 50px;
                    }
                    p {
                        color: $fav_color;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    &__process {
        padding: 1rem;
        max-width: 350px;
        min-width: 200px;
        .favcolor {
            color: $fav_color;
        }
        .orangecolor {
            color: orange;
        }
        .socail {
            text-align: center;
             :nth-child(2) {
                color: rgb(0, 98, 255);
            }
             :nth-child(3) {
                color: rgb(11, 223, 152);
            }
             :nth-child(4) {
                color: red;
            }
        }
        .col:nth-child(2) {
            border: 1px solid rgb(136, 134, 134);
            padding: 1rem;
            border-radius: 1rem;
            line-height: 2rem;
            >* {
                margin-top: 1rem;
            }
            .btns {
                @include flex(column);
                >* {
                    border: none;
                    margin-top: 1rem;
                    padding: 1rem;
                    border-radius: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                }
                 :nth-child(1) {
                    background-color: #ffd814;
                }
                 :nth-child(2) {
                    background-color: #ffa41c;
                }
            }
        }
    }
}

.loading {
    position: fixed;
    top: 49%;
    left: 49%;
    transform: scale(2);
    animation: 2s infinite ease-in-out loadinganim;
}

@keyframes loadinganim {
    0% {
        transform: rotate(0)scale(1.5);
    }
    100% {
        transform: rotate(1turn)scale(2);
    }
}