@import "../../global/virables.scss";
.orders {
  @include flex(column, normal, normal);
  border: 2px solid rgb(199, 199, 199);
  background-color: white;
  width: 500px;
  margin: 1rem auto;
  padding: 1rem;
  .col {
    @include flex(column, space-between, normal);
    margin-bottom: 1rem;
  }
}

@media (max-width: "550px") {
  .orders {
    max-width: 350px;
    > .info {
      width: 100%;
    }
  }
}
